.header{
     color: rgb(238, 255, 0);
     font-size: 30px;
     background-color: rgb(40, 79, 0);
}

img{
    height: 250px;
    width: 250px;
}

body{
    font-family: 'Special Elite',cursive;
    background-color: indigo;
}

.main_div button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100px;
    height: 50px;
    font-size: 30px;
}

.feet{
    font-size: 40;
    width: 100%;
    color: rgb(212, 255, 104);
    line-height: 1;
    text-align: center;
}